<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/bootstrap.min.css" rel="stylesheet">
  <script src="/static/bootstrap.bundle.min.js"></script>
  <title>{{ name }}</title>
</head>
<body>
  <div class="container-fluid d-flex align-items-center p-1">
    <a href="{{ link }}"><h1 class="m-0 fw-bold">{{ name }}</h1></a>
    <span class="flex-grow-1"></span>
    <a class="btn btn-sm btn-light p-2 rounded" href="/">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
        <path d="M13.901 2.599c-1.463-1.597-3.565-2.599-5.901-2.599-4.418 0-8 3.582-8 8h1.5c0-3.59 2.91-6.5 6.5-6.5 1.922 0 3.649 0.835 4.839 2.161l-2.339 2.339h5.5v-5.5l-2.099 2.099z"></path>
        <path d="M14.5 8c0 3.59-2.91 6.5-6.5 6.5-1.922 0-3.649-0.835-4.839-2.161l2.339-2.339h-5.5v5.5l2.099-2.099c1.463 1.597 3.565 2.599 5.901 2.599 4.418 0 8-3.582 8-8h-1.5z"></path>
        </svg>        
    </a>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        {% for i in range(count) %}
          <a class="m-1 overflow-hidden position-relative d-inline-block" href="/{{ count - i }}">
            <img src="/thumbnail/{{ count - i }}" alt="Thumbnail {{ count - i }}">
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>